
/* master color scheme: 

background- #efefef
accents: #ff3b3f
text: #a9a9a9
highlights: #Caebf2 */


.App {
  text-align: center;
}


body {
  margin: 0px;
  padding: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


  background-color: #0F1626;
  color: #F5f5f5;
}


.button {
  margin:15px;
  font-size: 16px;
  background-color: transparent;
  color: #F5f5f5;
  border: #F5f5f5 2px solid;
  box-shadow: none;
  /* border-radius: 10px; */
  padding: 5px 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  transition: all .33s ease-in-out;
}

.button:hover {
  background-color: #AB987A;
  color: #0F1626;
  border:solid 2px #AB987A;
  border-radius: 10px;
  /* transition: background-color .5s ease-in-out; */


}


