


input {
  border-radius: 5px;
  border: none;
  margin: auto;
  padding:10px 3px;
  font-size: 12px;
}

input:focus {
outline: none;
}

h2 {
  text-align: left;

}

.inputHandler {
  width: 66%;
  margin: auto;

  display: flex;

  /* justify-content: space-between; */
  margin-top: 5%;
  margin-bottom: 5%;

}

.inputHandler button {
  color: #F5f5f5;
  border: #F5f5f5 2px solid;
  padding: 5px;
}

