.homePage {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: 

  url('https://images.unsplash.com/photo-1472390155757-7704d54b9dc7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
  background-size: cover;

  background-repeat: no-repeat;

  color: #F5f5f5;
  height: 100vh;
}



h3 {
  text-align: center;
  font-size: 36px;
}

.tourDates {
  text-align: center;
  padding-left: 0;
}

.homePage p {

  text-align: center;
  margin-top: 0;

}


