.navBar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:75%;
  margin:auto;

}

.navBar * {
  margin-top: 7vh;
}

.navBar button {
  border-color: #F5f5f5;
  color: #F5f5f5;
  /* margin-left: 5%; */
  /* right: 20px; */
  margin: 0px;
}