
.searchInput {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin-left:25%;
  margin-bottom: 4%;

}




.showContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  margin: auto;
  border-bottom: solid #AB987A 2px;
  flex-wrap: wrap;
  margin-top: 25px;

  padding-bottom: 40px;
}



.buttonContainer {
  display: flex;
  justify-content: flex-start;
}

.pContainer {
  display: flex;
  width: 40vw;
  justify-content: space-around;


}

.pContainer p {
  margin: 10px ;
  /* width: 100px; */
  text-align: left;
}